<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <resultMap id="UserMap" type="user">
        <id property="user_id" column="id"></id>
        <result property="user_name" column="name"></result>
        <result property="user_password" column="password"></result>
        <result property="user_phone" column="phone"></result>
    </resultMap>
    <select id="login" parameterType="user" resultMap="UserMap">
        select * from user where  name=#{user_name} and password=#{user_password}
    </select>
    <select id="selectLayUitable" resultMap="usermap">
        select  * from user;
    </select>

    <sql id="s">
            select * from user
    </sql>


    <select id="userCount" resultType="integer">
        select count(*) from user
    </select>


    <select id="selectpage" parameterType="hashmap" resultMap="usermap">
        SELECT * FROM USER LIMIT #{pagestart},#{size}
    </select>
</mapper>